@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Arapey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap");


/* Define variables */
:root {
    --primary-bg-color: #f2efef;
    --secondary-bg-color: #d5d3d3;
    --primary-font-color: #000000;
    --alarm-font-color: red;
    --success-font-color: green;
    --font-family: 'Arapey', 'Open Sans', 'serif';
    --border-color: #313133;
    --border-radius: 0.2em;
}


html {
    font-size: 20px;
    background-color: var(--primary-bg-color);
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-color);
    font-family: var(--font-family);
}

:hover {
    transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1);  /* Taken from https://easings.net/ as 'easeOutCubic'. */
}

button:hover, select:hover, a:hover {
    cursor: pointer;
}

#upper_nav_bar {
    background-color: var(--secondary-bg-color);
    border-bottom: 1px solid var(--border-color);
}

div.upper_nav_bar_logout {
    justify-content: end;
}

#navbarNavAltMarkup {
    justify-content: space-between;
}

main {
    text-align: center;
    min-height: 1200px;
}

main img {
    border-radius: 1.5em;
    opacity: 0.8;
}

div.form_element {
    margin: 5px auto 25px auto;
    text-align: center;
}

div.form_element i {
    position: absolute; 
    margin: 9px 13px;
    opacity: 0.8;
}

div.transaction_category {
    font-size: 1.2em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

hr {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-top: 1px solid var(--primary-font-color);
}

div.transaction_category hr {
    width: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid var(--primary-font-color);
}

div.transaction_row {
    margin-top: 12px;
    margin-bottom: 12px;
}

div.transaction_cell {
    display: inline-block;
    text-align: left;
    width: 100px;
}

div.transaction-cell-icon {
    width: 35px;
}

div.transaction-cell-comment {
    width: 200px;
}

div.transaction_cell i {
    cursor: pointer;
}

div.transaction_cell i:hover {
    opacity: 0.7;
}

.clickable_span {
    cursor: pointer;
    color: var(--border-color);
    font-weight: 700;
}

.clickable_span:hover {
    cursor: pointer;
    text-decoration: underline;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute; 
    margin: 9px 10px;
    opacity: 0.8;
}

footer {
    background-color: var(--secondary-bg-color);
    height: 75px;
    border-top: 1px solid var(--border-color);
    font-size: 1em;
}

footer a {
    color: var(--primary-font-color);
}

footer a:hover {
    color: var(--border-color);
}

h1 {
    font-size: 2.5em;
    margin-top: 10%;
}

h2 {
    font-size: 1.7em;
    margin: 1.5em 0 1em 0;
}

h3 {
    font-size: 1.4em;
    margin: 1.5em 0 1em 0; 
}

p {
    margin: 2% auto 0 auto;
    text-align: center;
    width: 60%;
} 

label {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
}

main button, main input, main select {
    background-color: inherit;
    color: inherit;

    font-family: inherit;
    font-size: 1em;
    width: 18em;
    height: 2em;
    box-sizing: border-box;
    text-align: center;
    
    padding: 0.2em 0;
    border: 0.1em solid var(--border-color);
    border-radius: 0.2em;
}

/* .navbar-toggler-icon {
    border: 2px solid var(--border-color);
    width: 40px;
    height: 3px;
    background-color: transparent; */
    
    /* vertical-align: middle; */
    /* outline: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    width: 40px;
    height: 3px;
    vertical-align: middle; */
  /* }
  

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    transition: transform 0.2s ease-out;
}

.navbar-toggler-icon::before {
    transform: translateY(-0.5rem);
}

.navbar-toggler-icon::after {
    transform: translateY(0.5rem);
} */

/* .navbar-toggler .navbar-toggler-icon {
    background-color: #fff;
    
} */

.modal.custom input, .modal.custom select {
    width: 12em;
    height: 1.8em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    box-sizing: border-box;
    text-align: center;
    padding: 0.2em 0;
    border: 0.08em solid var(--border-color);
    border-radius: 0.2em;
}

.modal.custom button {
    width: 5em;
    height: 1.6em;
    box-sizing: border-box;
    text-align: center;
    padding: 0.2em 0;
    border: 0.08em solid var(--border-color);
    border-radius: 0.2em;
}

.modal.custom div {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.modal.custom div.date-label-modal {
    display: inline-block;
    width: 30%;
}

.modal.custom div.date-input-modal {
    display: inline-block;
    width: 70%;
}

button.log_button {
    border: 0.08em solid var(--border-color);
    border-radius: 0.2em;
    width: 5em;
    height: 2em;
}

button:hover {
    background-color: var(--border-color);
    color: var(--primary-bg-color);
}

button.navbar-toggler {
    width: 3em;
}

#upper_nav_bar_span_id {
    margin-right: 0.2em;
}

.navbar-nav > a {
    width: 6.2em; 
    text-align: center;
    border-left: 1px dashed var(--border-color);
    color: var(--border-color);
}

.navbar-nav > a:last-child {
    border-right: 1px dashed var(--border-color);
}

.navbar-nav > a.nav-link:hover {
    background-color: var(--border-color);
    color: var(--primary-bg-color);
}

#divMsgID > .msg_div {
    margin-top: 15px;
}

#divMsgID .msg_error {
    color: var(--alarm-font-color);
    font-weight: 500;
}

#divMsgID .msg_success {
    color: var(--success-font-color);
    font-weight: 500;
}

@media (max-width: 1200px) {
    #upper_nav_bar_span_id {
        display: none;
    }
}

@media (max-width: 992px) {
    .logo_text {
        display: none;
    }
}

@media (max-width: 767px) {

    html {
        font-size: 18px;
    }

    div.transaction_cell {
        display: inline-block;
        text-align: left;
        width: 90px;
    }
    
    div.transaction-cell-icon {
        width: 30px;
    }
    
    div.transaction-cell-comment {
        width: 160px;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navbar-nav > a {
        width: 75%;
        border-top: 1px dashed #b5b5bc; 
        border-left: none;
    }
    .navbar-nav > a:last-child {
        border-right: none;
        border-bottom: 1px dashed #b5b5bc;   
    }
    #logOutDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
    }
    #logOutButton {
        width: 75%;
    }
}
