/* 
f6fff8
eaf4f4
cce3de
a4c3b2
6b9080
*/

body {
    background-color: #f6fff8;
    color: #24302b;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Arapey', 'Open Sans', serif;
	font-size: 25px;
}

button, input {
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    font-size: 25px;
    border-radius: 5px;
}

/* 
---------------------------
--- MAIN NAVIGATION BAR ---
---------------------------
*/
#main_nav_bar {
    display: inline-block;
}

.main_button {
    background-color: #cce3de;
    color: inherit;
    display: block;
    width: 200px;
    padding: 5px;
    border: 1px solid black;
}

button:hover {
    background-color: #a4c3b2;
}

button:focus {
    background-color: #6b9080;
}

/* 
--------------------
--- MAIN CONTENT ---
--------------------
*/
main {
    display: inline-block;
    margin-left: auto;
}

/* 
-------------
--- LOGIN ---
-------------
*/
.welcome_user_span {
    margin-right: auto;
}

label.clickable-label {
    cursor: pointer;
    color: #6b9080;
    font-weight: 700;
}

label.clickable-label:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* 
-------------------
--- MAIN FOOTER ---
-------------------
*/
.logo-div {
    display: inline;
}

.login-out {
    margin: right;
    display: inline;
}

.welcome_user_span {
    /* TODO: Add margin to right!!! */
}

.logo {
    width: 25%;
}

#footer_nav_bar > ul > li{
    display: inline;
}