html {
    font-size: 25px;
}

body {
    background-color: #f7f2f2;
    color: #000000;
    font-family: 'Arapey', 'Open Sans', serif;
    margin: 0;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    vertical-align: center;
    box-sizing: border-box;
}

#upper_nav_bar {
    position: sticky;
    background-color: #f7f2f2;
    height: 75px;
    border-bottom: 2px solid #313133;
    box-sizing: border-box;
}

div.upper_nav_bar_div {
    height: 75px;
    width: 450px;
    box-sizing: border-box;
    display: inline-block;
}

div.upper_nav_bar_div img {
    position: absolute;
    top: 5%;
    left: 20px;
    max-height: 90%;
}

div.upper_nav_bar_logout {
    height: 75px;
    width: 200px;
    float: right;
}

div.upper_nav_bar_logout button {
    width: 150px;
    margin-top: 15px;
}

div.upper_nav_bar_userID {
    height: 75px;
    width: 300px;
    text-align: center;
    float: right;
    vertical-align: middle;
    line-height: 75px; 
}

main {
    display: block;
    float: left;
    text-align: center;
    height: 1200px;
    width: 100%;
}

main img.background_photo {
    display: block;
    margin: 100px auto;
    border-radius: 2em;
    opacity: 0.8;
    width: 800px;
}

main button select input {
    color: inherit;
    display: block;
    width: 200px;
}

div.form_element {
    margin: 5px auto 25px auto;
    text-align: center;
}

.clickable_span {
    cursor: pointer;
    color: #313133;
    font-weight: 700;
}

.clickable_span:hover {
    cursor: pointer;
    text-decoration: underline;
}

div.form_element i {
    position: absolute; 
    margin: 9px 13px;
    opacity: 0.8;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute; 
    margin: 9px 10px;
    opacity: 0.8;
}

footer {
    background-color: #dddac6;
    display: block;
    float: left;
    height: 75px;
    width: 100%;
    box-sizing: border-box;
    border-top: 2px solid #313133;
}

footer > nav > ul {
    position:relative;
    top: 15%; 
}

footer > nav > ul > li{
    display: inline-block;
}

h1 {
    margin-top: 10%;
    text-align: center;
}

h2 {
    margin-top: 3%;
    text-align: center;
}

h3 {
    margin-top: 3%;
    text-align: center;
}

p {
    margin: 2% auto 0 auto;
    text-align: center;
    width: 60%;
}

label {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
    justify-content: space-between;
}

button, input, select {
    background-color: inherit;
    color: inherit;

    font-family: inherit;
    font-size: 1rem;
    width: 450px;
    box-sizing: border-box;
    text-align: center;
    
    padding: 0.2em 0;
    border: 0.08em solid #313133;
    border-radius: 0.2em;
}

button:hover {
    background-color: #313133;
    color: #f7f2f2;
    transition: 0.7s cubic-bezier(0.33, 1, 0.68, 1);  /* Taken from https://easings.net/ as 'easeOutCubic'. */
}

button:focus {
    background-color: #27242f;
    border-color: #27242f;
    color: #f7f2f2;
}

#main_nav_bar {
    background-color: #dddac6;
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px;
    height: 40px;
    border-bottom: 2px solid #313133;
}

#main_nav_bar button {
    background-color: #f7f2f2;
    width: 180px;
    margin: auto 10px 10px auto;
}

#main_nav_bar button:hover {
    background-color: #313133;
    color: #f7f2f2;
    transition: 0.7s cubic-bezier(0.33, 1, 0.68, 1);  /* Taken from https://easings.net/ as 'easeOutCubic'. */
}

#main_nav_bar button:focus {
    background-color: #27242f;
    border-color: #27242f;
    color: #f7f2f2;
}